* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
}

.main-container {
    height: calc(100vh - 80px);
    background-color: blue;
    display: flex;
}

.nav-aside {
    width: 40px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.nav-aside-top {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav-aside-top .logo-img-small {
    width: 25px;
}

.nav-aside-top .logo-img {
    width: 160px;
    display: none;
}


.nav-aside-top ul {
    list-style: none;
}

.nav-aside-top li img {
    width: 20px;
}

.nav-aside-top li a {
    display: inline-block;
    text-decoration: none;
}

.nav-aside-top h5 {
    display: none;
}

.nav-aside-center {
    flex-grow: 1;
    overflow: auto;
}

.nav-aside-center h4,.nav-aside-center-plus {
    display: none;
}

.nav-aside-center ul {
    display: none;
}

.nav-aside-bottom {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-aside-bottom .install {
    padding-bottom: 5px;
}

.nav-aside-bottom .install img {
    width: 15px;
} 

.nav-aside-bottom .username {
    padding-top: 5px;
}

.nav-aside-bottom .username img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}

.nav-aside-bottom h5 {
    display: none;
}

.nav-aside-bottom hr {
    width: 100%;
    display: none;
}

.main-box {
    width: calc(100% - 40px);
}

.main-box-upgrade {
    height: 80px;
    background-color: black;
}

.footer-container {
    background-color: black;
    height: 80px;
    display: flex;
}

.footer-left {
    flex-shrink: 0;
}

.footer-center {
    flex-grow: 1;
}

.footer-right {
    flex-shrink: 0;
}



@media screen and (min-width:553px){

    .nav-aside {
        width: 240px;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    
    .nav-aside-top h5 {
        display: inline-block;
    }

    .nav-aside-top {
        align-items: flex-start;    
    }

    .nav-aside-top .logo-img-small {
        display: none;
    }
    
    .nav-aside-top .logo-img {
        display: inline-block;
    }

    .nav-aside-top ul {
        padding-top: 20px;
        width: 100%;
    }

    .nav-aside ul li {
        display: flex;
        align-items: center;
    }

    .nav-aside-top li img {
        width: 30px;
    }
   
    .nav-aside-center {
        padding-top: 20px;
    }
    
    .nav-aside-center-plus {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .nav-aside-center h4 {
        display: block;
    }

    .nav-aside-center i {
        font-size: 35px;
        padding-right: 10px;
    }

    .nav-aside-center ul {
        list-style: none;
        display: inherit;
    }

    .nav-aside-center ul li a {
        text-decoration: none;
        color: white;
        padding: 5px 0;
    }

    .nav-aside-bottom {
        align-items: flex-start;
    }

    .nav-aside-bottom .install {
        display: flex;
        align-items: center;
    }

    .nav-aside-bottom .username {
        display: inline-flex;
        align-items: center;
    }

    .nav-aside-bottom h5 {
        display: inline-block;
        padding-left: 10px;
    }

    .nav-aside-bottom hr {
        display: inline-block;
    }

    .main-box {
        width: calc(100% - 240px);
    }

}