* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
}

.main-container {
    height: calc(100vh - 80px);
    display: flex;
}

/* NAV VERTICAL */

.nav-aside {
    width: 40px;
    background-color: black;
    color: #878787;
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.nav-aside-top {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.nav-aside-top .logo-img-small {
    width: 25px;
}

.nav-aside-top .logo-img {
    width: 160px;
    display: none;
}


.nav-aside-top ul {
    list-style: none;
}

.nav-aside-top li img {
    width: 20px;
}

.nav-aside-top li a {
    display: inline-block;
    text-decoration: none;
}

.nav-aside-top h5 {
    display: none;
}

.nav-aside-center {
    flex-grow: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-aside-center h4,.nav-aside-center-plus {
    display: none;
}

.nav-aside-center ul {
    display: none;
}

.nav-aside-bottom {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-aside-bottom .install {
    padding: 5px 0;
    color: #878787;
}

.nav-aside-bottom .install img {
    width: 15px;
}

.nav-aside-bottom .install:hover h5 {
    color: white;
}

.nav-aside-bottom .username {
    padding-top: 5px;
}

.nav-aside-bottom .username img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}

.nav-aside-bottom h5 {
    display: none;
}

.nav-aside-bottom hr {
    width: 100%;
    display: none;
}

/* CENTRAL BLOCK */

.main-box {
    width: calc(100% - 40px);
    overflow: hidden;
}

/* upgrade */

.main-box-upgrade {
    height: 80px;
    background-color: #090b0f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.main-box-upgrade a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
}

.main-box-upgrade a:hover {
    transform: scale(1.2);
}

/* link list */

.main-box-navbar {
    background-color: #141922;
    height: 50px;
}

.main-box-navbar ul {
    height: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-box-navbar ul li {
    padding: 5px 10px;
    position: relative;
}

.active {
    position: absolute;
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;
    background-color: #adff2f;
}

.main-box-navbar ul li a{
    text-decoration: none;
    color: #878787;
}

.main-box-navbar ul li:hover a {
    color: white;
}

/* album list */

.main-box-center {
    height: calc(100vh - 210px);
    background-color: #141922;
    overflow: auto;
    padding: 10px;
}

.main-box-center h2 {
    padding: 10px 0;
    font-size: 25px;
}

.main-box-center h4 {
    padding-top: 10px;
}

.main-box-center h6 {
    padding: 5px 0;
    color: #878787;
    font-size: 12px;
}

.main-box-center-card img {
    width: 100%;
}

.main-box-center-card:hover img{
    filter: brightness(0.5);
}

.card-album-img {
    position: relative;
}

.card-album-img::after {
    font-family: "Font Awesome 5 Free";
    content: "\f144";
    position: absolute;
    left: 0;
    width: 100%;
    top: 35%;
    font-size: 40px;
    display: none;
}

.main-box-center-card:hover .card-album-img::after {
    display: inline-block;
}

.circle {
    border-radius: 50%;
}

.main-box-center-recently {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-box-center-personal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-box-center-popular {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-box-center-card {
    width: calc(100% / 2 - 5px);
    display: flex;
    flex-direction: column;
    text-align: center; 
    padding: 15px 0;   
}



/* FOOTER NAVBAR */

.footer-container {
    background-color: #282828;
    height: 80px;
    display: flex;
    position: relative;
}

/* left */

.footer-left {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.footer-left-box {
    display: flex;
    align-items: center;
}

.footer-left-box img {
    width: 40px;
}

.left-box-img {
    padding: 5px;
}

.left-box-text {
    padding: 0 5px;
    font-size: 12px;
}

.left-box-text h6 {
    color: #878787;
}

.left-box-text h6:hover {
    color: white;
    text-decoration: underline;
}

.left-box-icons {
    color: #878787;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    gap: 5px;
}

.left-box-icons i:hover{
    color: white;
}

/* center */

.footer-center {
    flex-grow: 1;
}

.footer-center-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.footer-center-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center-top i {
    padding: 0 5px;
}

.footer-center-top .fa-play-circle {
    font-size: 25px;
}

.footer-center-top .fa-play-circle:hover {
    transform: scale(1.3);
}

.footer-center-bottom {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.center-bottom-left, .center-bottom-right {
    flex-shrink: 0;
}

.center-bottom-left {
    padding-left: 10%;
    padding-right: 5px;
}

.center-bottom-right {
    padding-right: 10%;
    padding-left: 5px;
}

.center-bottom-row {
    flex-grow: 1;
    height: 6px;
    background-color: #5a5a5a;
    position: relative;
    border-radius: 5px;
}

.center-bottom-row-charge {
    position: absolute;
    background-color: #878787;
    width: 40%;
    height: 100%;
    border-radius: 5px;
}

.center-bottom-row-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    top: calc(50% - 6px);
    left: 39%;
    display: none;
}

.center-bottom-row:hover .center-bottom-row-charge {
    background-color: #adff2f;
}

.center-bottom-row:hover .center-bottom-row-circle {
    display: inline-block;
}


/* right */

.footer-right {
    flex-shrink: 0;
    padding-right: 10px ;
}

.footer-right-box {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer-right-box i {
    padding: 0 5px;
}

.right-bottom-row {
    flex-grow: 1;
    height: 4px;
    background-color: #5a5a5a;
    position: relative;
    border-radius: 4px;
    width: 8vw;
}

.right-bottom-row-charge {
    position: absolute;
    background-color: #878787;
    width: 40%;
    height: 100%;
    border-radius: 4px;
}

.right-bottom-row-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    top: calc(50% - 5px);
    left: 38%;
    display: none;
}

.right-bottom-row:hover .right-bottom-row-charge {
    background-color: #adff2f;
}


.right-bottom-row:hover .right-bottom-row-circle {
    display: inline-block;
}

/* MEDIA MIN-WIDTH 576px */

@media screen and (min-width:576px){

    .nav-aside {
        width: 240px;
        padding: 15px;
    }
    
    .nav-aside-top h5 {
        display: inline-block;
    }

    .nav-aside-top {
        align-items: flex-start;    
    }

    .nav-aside-top .logo-img-small {
        display: none;
    }
    
    .nav-aside-top .logo-img {
        display: inline-block;
    }

    .nav-aside-top ul {
        padding-top: 20px;
        width: 100%;
    }

    .nav-aside-top ul li {
        display: flex;
        align-items: center;
    }

    .nav-aside-top ul li:hover h5 {
        color: white;
    }

    .nav-aside-top li img {
        width: 30px;
    }
    
    .nav-aside-center-plus {
        display: flex;
        align-items: center;
        padding: 10px 0;
        flex-shrink: 0;
        font-size: 18px;
    }

    .nav-aside-center h4 {
        display: block;
        flex-shrink: 0;
        color: white;
    }

    .nav-aside-center i {
        font-size: 35px;
        padding-right: 10px;
    }

    .nav-aside-center ul {
        list-style: none;
        display: block;
        flex-grow: 1;
        overflow-y: auto;
    }

    .nav-aside-center ul li {
        padding: 5px 0;
    }

    .nav-aside-center ul li a {
        text-decoration: none;
        color: #878787;
    }

    .nav-aside-center ul li:hover a {
        color: white;
    }

    .nav-aside-bottom {
        align-items: flex-start;
    }

    .nav-aside-bottom .install {
        display: flex;
        align-items: center;
    }

    .nav-aside-bottom .username {
        display: inline-flex;
        align-items: center;
        color: white;
        font-size: 18px;
    }

    .nav-aside-bottom h5 {
        display: inline-block;
        padding-left: 10px;
    }

    .nav-aside-bottom hr {
        display: inline-block;
    }

    .main-box {
        width: calc(100% - 240px);
    }

}


/* MEDIA MIN-WIDTH 768px */

@media screen and (min-width:768px){

    .left-box-icons {
        flex-direction: row;
    }


}

/* MEDIA MIN-WIDTH 992px */

@media screen and (min-width:992px){

    .main-box-center-card {
        width: calc(100% / 4 - 7.5px);
    }

}

/* MEDIA MIN-WIDTH 1200px */

@media screen and (min-width:1200px){

    .main-box-center-card {
        width: calc(100% / 6 - 8.5px);
    }

}